<!DOCTYPE html>
<html>
<head>
  <title>Six26eats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <a href="/" class="navbar-brand">#626eats</a>
            <a href="/auth/instagram" class="instagram-sign-in navbar-brand navbar-right" >Sign in with Instagram</a>
        </div>
    </nav>

<%= yield %>

</body>
</html>
